<a href="https://colab.research.google.com/github/20d170002/SoC-Final-project/blob/main/Phase_1_Crash_Course.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
1.0

1.0

In [ ]:
3** 5
print(15/4)
print(15//4)

3.75
3

In [ ]:
# string comments
" I can't go "
name = 'Sam'
num = 12
print ("My number is {} and my name is {}.". format(num, name))
print ("My number is {one} and my name is {two}, more {one}.". format(one=num, two=name))

My number is 12 and my name is Sam.
My number is 12 and my name is Sam, more 12.

In [ ]:
s= "hello"
s[0], s[4]
s[1:] #prints every element from index 1 till the end
s[:3] # prins evry element from index 0 to 3 ( 3 not included)
p= "abcdefghi"
p[3:6] # upper limit not included
#slices #grab items from nested list

'def'

In [ ]:
# dictionary.      dic={'key' : 'value'} format curly bracket
d = {'key1' : 'value', 'key2' : 123}
d['key1'], d['key2']
d={ 'k1' :[1,2,3]}
d['k1'][1]
my_list = [1,2,3] #square braces for list
my_list[1]
tup = (1,2,3) # parenthesis for tuple
tup[0]
my_list[0]='NEW'
my_list # assignment, value changed in list
#tup[0]= 'hi' # tuple doesn't support item assignment. can't change immutable
#set 
{ 1,1,1,2,2,3,3,3,3}

{1, 2, 3}

In [ ]:
1<2
1>2
1<=2
1 !=2
'hi'!='bye'
1<2 and 2<3 #and or operator

True

In [ ]:
#if 
if 1<2:
  print ('yep!')

yep!

In [ ]:
if 1==2:
  print('first')
elif 3==3:      #elif == else if
  print('second')  
else:
  print('last')

second

In [ ]:
seq =[1,2,3,4,5]
for num in seq:
  print(num)
# for loop format: for "var" in "list"

1
2
3
4
5

In [ ]:
# while loop
i=1
while i<5:
  print('i is {}'.format(i)) #infinite loop
  i=i+1

i is 1
i is 2
i is 3
i is 4

In [ ]:
print(list(range(2,7))) #range(i,j)= starts from i and goes to j-1. it excludes j and includes i

[2, 3, 4, 5, 6]

In [ ]:
x=[1,2,3,4]
out=[]
for num in x:
  out.append(num**2)  # in python indentation makes it clear if the command is inside loop or outside

print(out)

[1, 4, 9, 16]

In [ ]:
nice =[num**2 for num in x ]
print(nice)

[1, 4, 9, 16]

In [ ]:
# define a function using "def function_name(parameters):"
def my_func(param1):
  print(param1)
my_func('hello')

hello

In [ ]:
def my_func(name):
  print('Hello '+name)
my_func('Aadya')

Hello Aadya

In [ ]:
def square(num):
  return num**2
output=square(2)  
output

4

In [ ]:
def times2(num):
  return 2*num
times2(5)

10

In [ ]:
#map function
seq= [1,2,3,4,5]
list(map(times2, seq))

[2, 4, 6, 8, 10]

In [ ]:
#using lambda
list(map(lambda num:num*3, seq)) #no need to define entire function first..just use lambda to create func

[3, 6, 9, 12, 15]

In [ ]:
#filter function
list(filter(lambda num: num%2==0, seq)) # num%2==0 is a boolean condition and the function executes only for the values for which its true

[2, 4]

In [ ]:
7**4

2401

In [ ]:
s='Hi there Sam!'
s.split()

['Hi', 'there', 'Sam!']