<a href="https://colab.research.google.com/github/20d170002/SoC-Final-project/blob/main/Phase_1_Data_Analysis_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
labels = ['a','b','c'] #list 
my_data=[10,20,30] #list
arr = np.array(my_data)
d = {'a':10, 'b' : 20, 'c':30}
pd.Series(data = my_data) #observe indexing, it comes as array index

0    10
1    20
2    30
dtype: int64

In [ ]:
pd.Series(data = my_data, index=labels) #series consists of 1st arg = data and 2nd arg = index while in o/p first we see index in first column and 2nd column is data.

a    10
b    20
c    30
dtype: int64

In [ ]:
pd.Series(my_data,labels)

a    10
b    20
c    30
dtype: int64

In [ ]:
ser1=pd.Series([1,2,3,4],['USA','Germany','USSR','Japan'])
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [ ]:
ser2 = pd.Series([1,2,5,4],['USA','Germany','Italy','Japan'])
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [ ]:
ser2['USA'] #like dictionary: use key to get the value it corresponds to.

1

In [ ]:
ser3= pd.Series(data=labels)
ser3

0    a
1    b
2    c
dtype: object

In [ ]:
ser3[0]

'a'

In [ ]:
ser1 + ser2 #notice float type sum. and NAN

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64

In [ ]:
from numpy.random import randn
np.random.seed(101)
df = pd.DataFrame(randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [ ]:
df['W'] #looks like a series

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64