<a href="https://colab.research.google.com/github/20d170002/SoC-Final-project/blob/main/Phase_1_Data_input%26output.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd 
pd.read_csv('/example.csv')

FileNotFoundError: ignored

In [ ]:
df =pd.read_csv('/example.csv')
df

In [ ]:
df.to_csv('My_output')
pd.read_csv('My_output')

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

In [ ]:
df.to_csv('My_output',index = False) #notice using false removes the column of index
pd.read_csv('My_output')

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [ ]:
data = pd.read_html('https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/')

list

In [ ]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///:memory:')
df.to_sql('my_table', engine)
sqldf = pd.read_sql('my_table',con=engine)
sqldf

   index   a   b   c   d
0      0   0   1   2   3
1      1   4   5   6   7
2      2   8   9  10  11
3      3  12  13  14  15